<mat-toolbar color="primary">
    <a href="/" class="homelink"><i class="fas fa-film logoIco"></i>Mi Sitio de Peliculas</a>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>

    <form class="form">
        <mat-form-field appearance="fill">
            <mat-label>Buscar</mat-label>
            <input matInput placeholder="Buscar Pelicula" value="">
            <mat-icon matSuffix fontSet="fas" fontIcon="fa-search"></mat-icon>
        </mat-form-field>
    </form>
</mat-toolbar>